# SYD DAT 8 Lab 1 - Git and Markdown

## Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_8"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown in this notebook and commit it to your repository on github

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account so I can see your work. Remeber if you get stuck to look at the slides going over Git**

## Exercise Four - Movie Lens Data

In [12]:
# for each occupation in 'users', count the number of occurrences

# for each occupation, calculate the mean age

# for each occupation, calculate the minimum and maximum ages

# for each combination of occupation and gender, calculate the mean age

# randomly sample a DataFrame

# detect duplicate users

In [4]:
# Import the libraries required
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [10]:
house_data = pd.read_csv(('../../data/user.csv', index_col=0)

SyntaxError: invalid syntax (<ipython-input-10-4ed035d685eb>, line 1)

In [11]:
house_data.head()

NameError: name 'house_data' is not defined

In [16]:
# do we have any missing data?
house_data.isnull().sum()

Series([], dtype: float64)

In [17]:
house_data=0

In [20]:
import pandas as pd
titanic = pd.read_csv('titanic.csv', index_col='PassengerId')

FileNotFoundError: File b'titanic.csv' does not exist

In [1]:
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [2]:
house_data = pd.read_csv(('user.csv', index_col=0)

SyntaxError: invalid syntax (<ipython-input-2-11257bec7515>, line 1)

In [1]:
pd.read_table('u.user', header=None)

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

# this allows plots to appear directly in the notebook
%matplotlib inline

In [3]:
pd.read_table('u.user', header=None)

                                0
0         1|24|M|technician|85711
1              2|53|F|other|94043
2             3|23|M|writer|32067
3         4|24|M|technician|43537
4              5|33|F|other|15213
5          6|42|M|executive|98101
6      7|57|M|administrator|91344
7      8|36|M|administrator|05201
8            9|29|M|student|01002
9            10|53|M|lawyer|90703
10            11|39|F|other|30329
11            12|28|F|other|06405
12         13|47|M|educator|29206
13        14|45|M|scientist|55106
14         15|49|F|educator|97301
15    16|21|M|entertainment|10309
16       17|30|M|programmer|06355
17            18|35|F|other|37212
18        19|40|M|librarian|02138
19        20|42|F|homemaker|95660
20           21|26|M|writer|30068
21           22|25|M|writer|40206
22           23|30|F|artist|48197
23           24|21|F|artist|94533
24         25|39|M|engineer|55107
25         26|49|M|engineer|21044
26        27|40|F|librarian|30030
27           28|32|M|writer|55369
28       29|41|M|programmer|94043
29           30|7|M|student|55436
..                            ...
913          914|44|F|other|08105
914  915|50|M|entertainment|60614
915       916|27|M|engineer|N2L5N
916        917|22|F|student|20006
917      918|40|M|scientist|70116
918          919|25|M|other|14216
919         920|30|F|artist|90008
920        921|20|F|student|98801
921  922|29|F|administrator|21114
922        923|21|M|student|E2E3R
923          924|29|M|other|11753
924       925|18|F|salesman|49036
925  926|49|M|entertainment|01701
926     927|23|M|programmer|55428
927        928|21|M|student|55408
928      929|44|M|scientist|53711
929      930|28|F|scientist|07310
930       931|60|M|educator|33556
931       932|58|M|educator|06437
932        933|28|M|student|48105
933       934|61|M|engineer|22902
934         935|42|M|doctor|66221
935          936|24|M|other|32789
936       937|48|M|educator|98072
937     938|38|F|technician|55038
938        939|26|F|student|33319
939  940|32|M|administrator|02215
940        941|20|M|student|97229
941      942|48|F|librarian|78209
942        943|22|M|student|77841

[943 rows x 1 columns]

In [4]:
house_data = pd.read_table('u.user', header=None)

In [5]:
movie_lens = pd.read_table('u.user', header=None)

In [6]:
movie_lens

                                0
0         1|24|M|technician|85711
1              2|53|F|other|94043
2             3|23|M|writer|32067
3         4|24|M|technician|43537
4              5|33|F|other|15213
5          6|42|M|executive|98101
6      7|57|M|administrator|91344
7      8|36|M|administrator|05201
8            9|29|M|student|01002
9            10|53|M|lawyer|90703
10            11|39|F|other|30329
11            12|28|F|other|06405
12         13|47|M|educator|29206
13        14|45|M|scientist|55106
14         15|49|F|educator|97301
15    16|21|M|entertainment|10309
16       17|30|M|programmer|06355
17            18|35|F|other|37212
18        19|40|M|librarian|02138
19        20|42|F|homemaker|95660
20           21|26|M|writer|30068
21           22|25|M|writer|40206
22           23|30|F|artist|48197
23           24|21|F|artist|94533
24         25|39|M|engineer|55107
25         26|49|M|engineer|21044
26        27|40|F|librarian|30030
27           28|32|M|writer|55369
28       29|41|M|programmer|94043
29           30|7|M|student|55436
..                            ...
913          914|44|F|other|08105
914  915|50|M|entertainment|60614
915       916|27|M|engineer|N2L5N
916        917|22|F|student|20006
917      918|40|M|scientist|70116
918          919|25|M|other|14216
919         920|30|F|artist|90008
920        921|20|F|student|98801
921  922|29|F|administrator|21114
922        923|21|M|student|E2E3R
923          924|29|M|other|11753
924       925|18|F|salesman|49036
925  926|49|M|entertainment|01701
926     927|23|M|programmer|55428
927        928|21|M|student|55408
928      929|44|M|scientist|53711
929      930|28|F|scientist|07310
930       931|60|M|educator|33556
931       932|58|M|educator|06437
932        933|28|M|student|48105
933       934|61|M|engineer|22902
934         935|42|M|doctor|66221
935          936|24|M|other|32789
936       937|48|M|educator|98072
937     938|38|F|technician|55038
938        939|26|F|student|33319
939  940|32|M|administrator|02215
940        941|20|M|student|97229
941      942|48|F|librarian|78209
942        943|22|M|student|77841

[943 rows x 1 columns]

In [7]:
# read 'u.user' and asign to 'users' so that we can re-use the data
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
movie_lens = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

In [8]:
# read 'u.user' and asign to 'users' so that we can re-use the data
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044
27        40      F      librarian    30030
28        32      M         writer    55369
29        41      M     programmer    94043
30         7      M        student    55436
...      ...    ...            ...      ...
914       44      F          other    08105
915       50      M  entertainment    60614
916       27      M       engineer    N2L5N
917       22      F        student    20006
918       40      M      scientist    70116
919       25      M          other    14216
920       30      F         artist    90008
921       20      F        student    98801
922       29      F  administrator    21114
923       21      M        student    E2E3R
924       29      M          other    11753
925       18      F       salesman    49036
926       49      M  entertainment    01701
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [9]:
# read 'u.user' and asign to 'users' so that we can re-use the data
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

In [10]:
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044
27        40      F      librarian    30030
28        32      M         writer    55369
29        41      M     programmer    94043
30         7      M        student    55436
...      ...    ...            ...      ...
914       44      F          other    08105
915       50      M  entertainment    60614
916       27      M       engineer    N2L5N
917       22      F        student    20006
918       40      M      scientist    70116
919       25      M          other    14216
920       30      F         artist    90008
921       20      F        student    98801
922       29      F  administrator    21114
923       21      M        student    E2E3R
924       29      M          other    11753
925       18      F       salesman    49036
926       49      M  entertainment    01701
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [11]:
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
doctor             7
homemaker          7
Name: occupation, dtype: int64

In [12]:
users.occupation.age.mean()

AttributeError: 'Series' object has no attribute 'age'

In [13]:
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044
27        40      F      librarian    30030
28        32      M         writer    55369
29        41      M     programmer    94043
30         7      M        student    55436
...      ...    ...            ...      ...
914       44      F          other    08105
915       50      M  entertainment    60614
916       27      M       engineer    N2L5N
917       22      F        student    20006
918       40      M      scientist    70116
919       25      M          other    14216
920       30      F         artist    90008
921       20      F        student    98801
922       29      F  administrator    21114
923       21      M        student    E2E3R
924       29      M          other    11753
925       18      F       salesman    49036
926       49      M  entertainment    01701
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [14]:
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [15]:
users.groupby('occupation')['age'].min()['age'].max()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [16]:
users.groupby('occupation')['age'].min()['age'].max()

KeyError: 'age'

In [17]:
users.groupby('occupation')['age'].min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [18]:
users.groupby('occupation')['age'].max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [19]:
users.groupby('occupation','gender')['age'].mean()

ValueError: No axis named gender for object type <class 'pandas.core.frame.DataFrame'>

In [20]:
users.groupby(['occupation','gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [21]:
random.sample('users')

NameError: name 'random' is not defined

In [22]:
random.users()

NameError: name 'random' is not defined

In [23]:
random.sample(users,10)

NameError: name 'random' is not defined

In [24]:
import random

In [25]:
random.sample(users,10)

TypeError: Population must be a sequence or set.  For dicts, use list(d).

In [26]:
random.sample(users)

TypeError: sample() missing 1 required positional argument: 'k'

In [27]:
import random

In [28]:
random.shuffle(users)

KeyError: 907

In [29]:
random.shuffle(users)
for i in range(15):
    for j in range(7):
        print

KeyError: 464

In [30]:
pd.Series(np.random.user(5))

NameError: name 'np' is not defined

In [31]:
import numpy as np

In [32]:
users.take(np.random.permutation(len(users))[:4])

         age gender occupation zip_code
user_id
901       38      M  executive    L1V3W
335       45      M  executive    33775
140       30      F    student    32250
775       46      M  executive    90036

In [33]:
import collections

In [34]:
set([x for x in users if users.count(x) > 1])

ValueError: No axis named age for object type <class 'pandas.core.frame.DataFrame'>

In [35]:
len(users)!=len(set(users))

True